{% extends "1990/_layout.html" %}
{% load static %}
{% block content %}

<style>
    body {
        background-image: url("{% static 'images/1990/mystictile.jpeg' %}");
        background-size: repeat;
    }
</style>


<h1>
    <img src="{% static '/images/1990/dragonball052.gif' %}"/>
    DBZ
    <img src="{% static '/images/1990/dragonball052.gif' %}"/>
</h1>

<img src="{% static '/images/1990/x.png' %}"/>
<img src="{% static '/images/1990/gohan.gif' %}"/>
<img src="{% static '/images/1990/ssjgifgk.gif' %}"/>
<img src="{% static '/images/1990/SSGOKU.gif' %}"/>
<img src="{% static '/images/1990/Recoome5.gif' %}"/>
<img src="{% static '/images/1990/Super-SaiyanGohansMasenko.gif' %}"/>
<img src="{% static '/images/1990/bebi_vegeta_blast.gif' %}"/>
<img src="{% static '/images/1990/vegetablast.gif' %}"/>
<img src="{% static '/images/1990/piccoloani2.gif' %}"/>
<img src="{% static '/images/1990/DBZadultGohanGIF.gif' %}"/>


<h1>wolfs</h1>
<img src="{% static '/images/1990/harriswolf.jpg' %}"/>
<img src="{% static '/images/1990/mistypagemainpic.jpg' %}"/>
<img src="{% static '/images/1990/' %}"/>
<img src="{% static '/images/1990/' %}"/>
<img src="{% static '/images/1990/' %}"/>


<h1>dragons</h1>
<img src="{% static '/images/1990/dragonfight2.gif' %}"/>
<img src="{% static '/images/1990/dragon4.gif' %}"/>
<img src="{% static '/images/1990/sundragon.jpg' %}"/>
<img src="{% static '/images/1990/goldbac.gif' %}"/>
<img src="{% static '/images/1990/dragon.gif' %}"/>
<img src="{% static '/images/1990/dragon2.gif' %}"/>
<img src="{% static '/images/1990/dragon3.gif' %}"/>
<img src="{% static '/images/1990/dragon4333.gif' %}"/>
<img src="{% static '/images/1990/clouddrag.jpg' %}"/>
<img src="{% static '/images/1990/mysch.jpg' %}"/>
<img src="{% static '/images/1990/walkdrg.gif' %}"/>
<img src="{% static '/images/1990/scar.gif' %}"/>
<img src="{% static '/images/1990/' %}"/>
<img src="{% static '/images/1990/' %}"/>
<img src="{% static '/images/1990/' %}"/>

<h1>pokemon</h1>
<img src="{% static '/images/1990/484.gif' %}"/>
<img src="{% static '/images/1990/094.gif' %}"/>
<img src="{% static '/images/1990/pikaonball.gif' %}"/>
<img src="{% static '/images/1990/' %}"/>
<img src="{% static '/images/1990/' %}"/>
<img src="{% static '/images/1990/' %}"/>
<img src="{% static '/images/1990/' %}"/>
<img src="{% static '/images/1990/' %}"/>

<h1>chrono trigger</h1>
<img src="{% static '/images/1990/chrono_chronoslash.gif' %}"/>
<img src="{% static '/images/1990/chrono_magusreveal.gif' %}"/>
<img src="{% static '/images/1990/chrono_marlejump.gif' %}"/>
<img src="{% static '/images/1990/chrono_luccayeah.gif' %}"/>
<img src="{% static '/images/1990/chrono_robostrong.gif' %}"/>
<img src="{% static '/images/1990/chrono_aylagood.gif' %}"/>
<img src="{% static '/images/1990/chrono_frogmirror.gif' %}"/>
<img src="{% static '/images/1990/' %}"/>
<img src="{% static '/images/1990/' %}"/>
<img src="{% static '/images/1990/' %}"/>
<img src="{% static '/images/1990/' %}"/>

<h1>Other</h1>

<img src="{% static '/images/1990/Howyourcomputerworks.gif' %}"/>
<img src="{% static '/images/1990/rofl.gif' %}"/>
<img src="{% static '/images/1990/roflcopter.gif' %}"/>
<img src="{% static '/images/1990/movingdiablo.gif' %}"/>
<img src="{% static '/images/1990/200w.gif' %}"/>
<img src="{% static '/images/1990/nespin.gif' %}"/>
<img src="{% static '/images/1990/skeletondancing.gif' %}"/>
<img src="{% static '/images/1990/lgdancingskeleton.gif' %}"/>
<img src="{% static '/images/1990/DemonSkeleton.gif' %}"/>
<img src="{% static '/images/1990/walkingskeleton.gif' %}"/>
<img src="{% static '/images/1990/lookin-animated-picture.gif' %}"/>
<img src="{% static '/images/1990/look_butterfly_md_wht.gif' %}"/>
<img src="{% static '/images/1990/aniniceguy.gif' %}"/>
<img src="{% static '/images/1990/funny1.gif' %}"/>
<img src="{% static '/images/1990/bunny_jump.gif' %}"/>
<img src="{% static '/images/1990/usagitalkfunny.gif' %}"/>
<img src="{% static '/images/1990/bear4_wht.gif' %}"/>
<img src="{% static '/images/1990/katze_klein.JPG' %}"/>
<img src="{% static '/images/1990/moon1.gif' %}"/>
<img src="{% static '/images/1990/dixie2.gif' %}"/>
<img src="{% static '/images/1990/dk.gif' %}"/>
<img src="{% static '/images/1990/dkanim.gif' %}"/>
<img src="{% static '/images/1990/' %}"/>
<img src="{% static '/images/1990/' %}"/>
<img src="{% static '/images/1990/' %}"/>
<img src="{% static '/images/1990/' %}"/>
<img src="{% static '/images/1990/' %}"/>

{% endblock %}