{% extends "1990/_layout.html" %}
{% load static %}
{% block content %}
    <h1>Munchkin</h1>
    <img src="{% static 'images/cats/PXL_20220824_215403983.jpg' %}" alt="Munchkin">
    <img src="{% static 'images/cats/PXL_20221013_152938472.jpg' %}" alt="Munchkin">
    <img src="{% static 'images/cats/PXL_20240427_095527513.jpg' %}" alt="Munchkin">

    <hr>
    <h1>Mummy - &#9829;RIP&#9829; </h1>
    <img src="{% static 'images/cats/11830929_10207307791756488_1266477377_n.jpg' %}" alt="Mummy">
    <img src="{% static 'images/cats/PXL_20221217_093727121.jpg' %}" alt="Mummy">
    
    <hr>
    <h1>Mango</h1>
    <img src="{% static 'images/cats/PXL_20230702_064707869.jpg' %}" alt="Mango">
    <img src="{% static 'images/cats/PXL_20240130_123251399.jpg' %}" alt="Mango">

    <hr>
    <h1>Sparky</h1>
    <img src="{% static 'images/cats/PXL_20240930_061903467.jpg' %}" alt="Sparky">
    <img src="{% static 'images/cats/PXL_20230415_065142124.jpg' %}" alt="Sparky">
    <img src="{% static 'images/cats/PXL_20240930_061837678.jpg' %}" alt="Sparky">
    <img src="{% static 'images/cats/PXL_20230515_154604716.jpg' %}" alt="Sparky">
    <img src="{% static 'images/cats/PXL_20240930_061905915.jpg' %}" alt="Sparky">

    <hr>
    <h1>Mika</h1>
    <img src="{% static 'images/cats/PXL_20241025_042330074.jpg' %}" alt="Mika">
    <img src="{% static 'images/cats/PXL_20241115_173901936.jpg' %}" alt="Mika">
{% endblock %}